/*
* What's considered critical?
*
* Critical css is inlined in the <head>
* of the document providing critical styles
* needed to prevent FOUC on page load
*
* This stylesheet is to contain the critical
* styles that the page must first load with.
* Generally this involves layout related styles,
* global sweeping styles, direct element selectors,
* and styles applied to "above the fold" content
*/

@import '../reset/normalize.css'
@import '../layout'

@import '../critical_typography'
.headline.-quote
  position: relative
  opacity: 1
  line-height: 1.15
  color: #646464
  color: rgba(#646464, 0.6)

  &:before
    content: '\0201C'
    position: absolute
    top: -4.5rem
    left: -3.5rem
    font-size: 10rem
    font-family: sans-serif

@import '../header'
@import '../navigation'

// Hero Section
@import '../hero'
.HeroSection
  &.-bruce-lee
    background: #000000
    background: linear-gradient(-20deg, #808080, #E6E6E6 80%)

  &.-contains-bg
    position: relative

    & > .ContentWrapper
      position: relative
      z-index: 1

.hero-bg
  position: absolute
  top: 10%
  left: 0
  width: 100%
  opacity: 0
  transform: scale(1.25) translateY(-100px)
  transition: opacity 0.45s, transform 0.85s cubic-bezier(0.65, 0.05, 0.36, 1)

  &.-anim_appear
    opacity: 0.4
    transform: scale(1) translateY(0)

@import '../buttons'
