---
author: 'Kevin Pruett'
title: 'Roaming Free'
---

extends ../layouts/post

block content
  p content for post

  :marked
    This is markdown **son**

block scripts
  script(src="/js/post.bundle.js" async)
