---
author: 'Kevin Pruett'
title: 'A guide to technical outsourcing for non-technicals'
description: 'A guide to technical outsourcing for non-technicals'
image: 'https://static.pexels.com/photos/7107/notebook-hero-workspace-minimal.jpg'
---

extends ../layouts/post

block vars
  - var layout = 'light'

block content
  :marked
    I’ve had the opportunity to speak with many clients who needed help building for the web. In nearly all cases, I’d find myself running through a list of options that they should consider before their journey. This post aims at helping non-technical folks explore all of today’s options when it comes to launching something on the web.

    ## &ldquo;Off-the-shelf&rdquo; solution

    This should be the first thing you explore in your journey. There are many affordable solutions that may fully satisfy your needs. Popular options are [Wordpress](https://wordpress.org/), [Squarespace](http://www.squarespace.com/), [Wix](http://www.wix.com/), [Shopify](http://www.shopify.com/), just to name just a few. There are many, many others. All of these platforms share similar features and will only slightly vary in price. It’s important to note that each platform will have their own unique core competency like blogging, e-commerce, etc.

    For **general purpose** website creation, look at [*Squarespace*](http://www.squarespace.com/). It provides the best user experience that I’ve seen. It provides a great Content Management System (CMS) for augmenting pages, adding content, etc. It’s completely sufficient for blogging and is overall a very design-driven platform.

    When it comes to **e-commerce** solutions, I’d say [*Shopify*](http://www.shopify.com/) is the winner in most cases. If you are looking to focus solely on selling products online, and don’t necessarily care about additional features, it’s a really nice platform.

    These “off-the-shelf” solutions provide tremendous upfront value. You’ll get 80% of the way there without much configuration and in a short amount of time. These platforms are usually template driven, so it’ll be easy to swap in and out templates to achieve vastly different looks and/or functionalities and features.

    Where these solutions tend to break down is when you want to customize the remaining 20%. You may want to deviate *slightly* from the template. You might want to setup custom domains, add hero images, etc. Anything that’s not immediately available within your current template falls into this category. You’ll likely need technical knowledge or assistance in achieving your desired result.

    ## Hire a freelancer

    Maybe you want to build something completely unique, something that cannot be satisfied with any solution mentioned above. You may want to consider hiring a freelance web developer.

    Hiring a freelancer can be extremely overwhelming. There are a lot of unknowns in terms of the quality of the applicant. For those non-technical, it’s not immediately clear what needs to be done, what technologies are at play, etc.

    It’s tempting to judge candidates solely based on price, but that would be a mistake. A higher priced candidate could finish the project in less time than a more affordable candidate, thus justifying their high price tag, and potentially saving you money. Of course, you could get someone who understands the psychology of pricing and costs themselves competitively as to appear of higher quality when in fact they are not. (Code) Quality is also something to think about. If you would like to continue using the codebase and build upon the project in the future, it may be in your best interest to pay a higher price for a stronger foundation.

    Unfortunately it’s impossible to be certain about all these aspects. This is where your communication and trust from the candidate comes into play. Do your best due diligence, perhaps based on portfolios and/or reviews. Get to chatting either over email or through Skype or Google Hangout. This will quickly allow you to see if you can communicate effectively with each other. And finally, I’d recommend starting on a small chunk of the project to see how it goes. Instead of booking them for the entirety of the project, chunk it up into smaller bits and have them complete a task and evaluate your experience.

    [Upwork](https://www.upwork.com/), [Elance](https://www.elance.com/), and [TopTal](http://www.toptal.com/) are just a few online resources that will help you find your next freelance web developer.

    If the prospect of hiring an unknown individual is too scary and you would like a little bit more guidance, you may be looking for an agency.

    ## Hire an agency

    Going the route of an agency will almost always cost you more money than a hiring a freelancer. What you pay for, in addition to the technical expertise, is an end-to-end experience that will guide you through the entirety of project. You will be offsetting the uncertainty that comes with hiring a freelancer and instead work alongside a team of people that will (hopefully) make the right decisions for you.

    You may be given a point of contact for the project which will facilitate effective communication. Something that’s not guaranteed with a freelancer.

    Since there are so many agencies, I couldn’t begin to recommend any specifically. I’d say however, to narrow your results based on what the company’s strengths are. Typically an agency will focus on certain verticals, technologies, or simply have certain mantras that may resonate with you. Perhaps they’ve done work in your sector before and they have specific domain knowledge where they’d be a great fit.

block scripts
  script(src="/js/post.bundle.js" async)
