---
author: 'Kevin Pruett'
title: 'Roaming Free'
---

extends ../layouts/post

block content
  :marked
    This will serve as the canonical *Hello World* post. The sacrificial piece that kicks off the [Lost Bison](http://lostbison.com) blog. I think it’s only appropriate to discuss who exactly we are, why we exist, and how we operate. Let’s get started&hellip;

    **The evolution of remote, development shops**

    We describe Lost Bison as *a collective of digital design and development experts*. In other words &mdash; a group of talented makers that build for the web.

    Most of us have experience working at *traditional* jobs. That is to say, jobs that require traveling to a specific location, at a specific time, with specific work conditions. We <span class=“u_strikethrough”>think</span> know it can be better. And not only for ourselves, but for the clients we serve. The realization that eliminating the bureaucracy of the workplace without without sacrificing the quality of the end result is a testament to the evolution of the workplace.

    As builders, we are fortunate enough to, what [Paul Bucheit](https://en.wikipedia.org/wiki/Paul_Buchheit) calls [“live in the future”](http://paulgraham.com/startupideas.html). We are exposed to bleeding edge tools that allow us communicate and collaborate efficiently. Given the nature of our work, the constraints of time and space are also largely irrelevant. This eliminates the need for a central workplace.

    As a side effect, overhead costs are essentially eliminated. Since the cost of operation is nearly zero, these savings greatly reduce the cost of work while still maintaining world-class quality.

    That’s really the question we ask ourselves &mdash; How lean can we operate while still delivering the highest quality output? Constantly asking ourselves this question gets us closer to the ideal win-win scenario that can be felt by our clients and our team.

    **We didn’t invent this**

    There are many companies that have paved the way towards this approach to work. [Basecamp](https://basecamp.com/) (formerly 37signals) who wrote a whole book on the topic, called [*Rework*](http://37signals.com/rework/).

    [&amp;yet](https://andyet.com/) is another awesome development shop championing the reality of remote work.

    We couldn’t be happier to be in such great company. In fact, we’d like nothing more than to perhaps inspire more individuals and companies to explore this way of operation.

    **It’s not easy**

    Challenging the typical workplace is no small feat. Most would agree that it’s harder to operate with these principles than that of the structured, physical workplace we are used to. Distributed working and remote teams is a relatively new concept. But as the pace of technology surpasses stagnant operating dogma, it will only become more prevalent.

    Needless to say, one of our main focuses as a distributed team is to overcome the barriers and challenges that we inherently face while not working under the same roof, or perhaps even in different time zones. We take huge inspiration from the (Open-source software)[https://en.wikipedia.org/wiki/Open-source_software] community by observing the interactions of individuals who come together from across the globe, united by a single passion around building great things.

    **In conclusion, evolve is paramount**

    The main takeaway from this piece is to encourage individuals, teams, and most importantly, companies, to consider the risk of *not evolving*.

    Along the way, we’ll document our failures and successes in hopes to contribute to answering the bigger questions involving the modern work environment.
block scripts
  script(src="/js/post.bundle.js" async)
