---
author: 'Kevin Pruett'
title: 'Roaming Free'
description: 'The birth of a remote development shop'
image: 'https://cloud.githubusercontent.com/assets/794809/9291102/a34ce420-437c-11e5-8b5d-e31d7a266755.jpg'
---

extends ../layouts/post

block vars
  - var layout = 'light'

block content
  :marked
    This will serve as the canonical *Hello World* introductory post. In it, we'll discuss a bit about **who we are**, **why we exist**, and **how we operate**.

    ### The birth of a remote, development shop

    Lost Bison is a *collective of digital design and development experts*. We are a **remote** group of makers that build for the web. This means that the confines of a traditional workplace do not apply.

    Traditionally, a job requires one to travel to a specific location, at a specific time, and work under specific conditions. We <span class="u_strikethrough">think</span> know it can be better. And not only for ourselves, but for the clients we serve. We found that by eliminating the bureaucracy involved within a traditional work setting, our quality did not suffer (arguably, the opposite). This is a testament to the evolution of the workplace.

    As digital builders, we are fortunate enough to, what [Paul Bucheit](https://en.wikipedia.org/wiki/Paul_Buchheit) calls, [“live in the future”](http://paulgraham.com/startupideas.html). We are exposed to bleeding edge tools that allow us communicate and collaborate efficiently. Given the nature of our work, the constraints of time and space are also largely irrelevant. This eliminates the need for a central workplace. The result is an institution consisting of little to no overhead costs!

    That’s really the question we ask ourselves &mdash; How lean can we operate while still delivering the highest quality output? Constantly asking ourselves this question gets us closer to the ideal win-win scenario that can be felt by both our clients and our team.

    ### We didn’t invent this

    There are many companies that have paved the way towards this approach to work. [Basecamp](https://basecamp.com/) (formerly 37signals) is well known software development firm who wrote a whole book on the topic. It's called [*Rework*](http://37signals.com/rework/). [&amp;yet](https://andyet.com/) is another awesome development shop championing the reality of remote work.

    We couldn’t be happier to be with such great company. In fact, we’d like nothing more than to perhaps inspire more individuals and companies to explore this way of operating.

    ### It’s not easy

    Maintaining a virtual workplace and coordinating remote teams is difficult. Most would agree that it’s harder to operate this way compared to that of the structured, physical workplace we are used to. Distributed working and remote teams is a relatively new concept. But as the pace of technology surpasses stagnant operating dogma, we only see it growing in popularity.

    Needless to say, one of our main focuses as a distributed team is to overcome the barriers and challenges that a team inherently faces when they are not working under the same roof. We take huge inspiration from the [Open-source software](https://en.wikipedia.org/wiki/Open-source_software) community by observing the interactions of individuals who come together from across the globe, united by a single passion around building great things.

    ### Evolution is paramount

    The main takeaway from this piece is to encourage individuals, teams, and most importantly, companies, to consider the risk of *not evolving*.

    Along the way, we’ll do our part by documenting both our failures and successes in hopes of pushing the limits of how a modern work environment can operate.

block scripts
  script(src="/js/post.bundle.js" async)
