@import '../mixins/typography'
@import '../mixins/layout'

.BuildProject
  padding-top: 10rem
  visibility: hidden
  opacity: 0
  transform: translateY(3rem)
  transition: opacity .25s ease-in,transform 0.85s cubic-bezier(0.68, -0.55, 0.27, 1.55)

  &.-anim_appear
    visibility: visible
    opacity: 1
    transform: translateY(0)

  form
    group()
    overflow: hidden

  .headline
    margin-bottom: 5rem

.bp-section-title
  playfair()
  font-size: 1.75rem
  margin-bottom: 1rem
  width: 100%

  &.-tight
    margin-bottom: 0

.bp-field
  margin: 1rem 0

.bp-label
  display: block
  sans-serif()
  font-size: 0.85rem
  text-transform: uppercase
  letter-spacing: 1px
  margin-bottom: 0.5rem

.bp-textfield, .bp-textarea
  padding: 0.5rem
  outline: none
  border: none
  border-bottom: 1px solid #CCC
  transition: border 0.25s ease-in-out
  width: 100%
  box-sizing: border-box
  min-width: 320px

  &:focus
    border-bottom: 1px solid #396FCC

.bp-textarea
  height: 10rem
  border: 1px solid #CCC

  &:focus
    border: 1px solid #396FCC

.bp-budget-group
  margin-bottom: 1rem

.bp-budget
  display: inline
  sans-serif()
  font-weight: 700
  font-size: 1.65rem
  color: #70A770

.bp-budget-slider
  margin-bottom: 2rem

.btn-wrapper
  width: 100%
  text-align: center

.bp-submit
  border: none
  outline: none
  padding: 1rem 2rem
  position: relative
  border-radius: 8px
  transition: all 0.25s ease-in-out
  color: #fff
  sans-serif()
  text-transform: uppercase
  letter-spacing: 2px
  font-size: 0.85rem
  background: #639AC5

  &[disabled="disabled"]
    background: #ececec
    color: #b1b1b1
    cursor: not-allowed

.bp-flash-message
  background-color: #7ABD7A
  padding: 1rem
  border-radius: 4px
  margin-top: 1.5rem
  text-align: center
  color: #fff
  visibility: hidden
  opacity: 0
  transform: translateX(200%)
  transition: all .85s cubic-bezier(0.68, -0.55, 0.27, 1.55)

  &.-error
    background-color: #D23521

  &.-anim_appear
    visibility: visible
    opacity: 1
    transform: translateX(0)

//.btn
  //sans-serif()
  //display: inline-block
  //padding: 1rem 1.5rem
  //text-align: center
  //text-transform: uppercase
  //font-size: 0.75rem
  //font-weight: 600
  //letter-spacing: 2px
  //text-decoration: none
