@import 'mixins/layout'

.GlobalHeader
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 1
  transform: translateY(-100%)
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.27, 1.55)

  &.-anim_appear
    transform: translateY(0)

  > .wrapper
    padding: 1rem 1%
    group()

  .logo > svg
    width: 100%
    max-width: 60px
