@keyframes gradientSlide
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}

.FeaturedPost
  padding: 10rem 0
  box-sizing: border-box
  color: #ffffff
  overflow: hidden
  background: #2791C5
  background: linear-gradient(-20deg,#2791C5,#1ADA72,#CEA70A,#DE8949,#FB1C28,#BD3C90)
  background-size: 1200% 1200%
  animation: gradientSlide 55s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite

  & > .ContentWrapper
    transform: translateY(10%)
    visibility: hidden
    opacity: 0
    transition: opacity .25s ease-in,transform 0.85s cubic-bezier(0.68, -0.55, 0.27, 1.55)

    &.-anim_appear
      transform: translateY(0)
      visibility: visible
      opacity: 1
