@import '../typography'
@import '../nouislider.min.css'

.noUi-target
  border: 1px solid #ccc

.noUi-background
  background: #FFF
  box-shadow: none !important

.noUi-handle
  box-shadow: none

.noUi-connect
  background: #B7E68C
  box-shadow: none
  transition: none

@import '../footer'
