extends layouts/www

block content
  section.IntroSection.-contains-bg.-bruce-lee
    .ContentWrapper
      blockquote All fixed set patterns are incapable of adaptability or pliability. The truth is outside of all fixed patterns.

    img.intro-bg(src="images/bruce.jpg")

