extends layouts/www

block vars
  - var namespace = 'build'
  - var layout = 'light'

block content
  section.BuildProject
    .ContentWrapper
      h1.headline.-big.centered Let&rsquo;s build something great together!

      form
        fieldset
          legend.bp-section-title Tell us about yourself

          .bp-field
            label.bp-label(for="name") Full Name
            input#name.bp-textfield(type="text", placeholder="Jane Doe")

          .bp-field
            label.bp-label(for="email") Email Address
            input#email.bp-textfield(type="email", placeholder="janedoe@website.com")

          .bp-field
            label.bp-label(for="phone") Phone Number
            input#phone.bp-textfield(type="tel", placeholder="(123) 456-7890")

        fieldset
          legend.bp-section-title Tell us about your project

          .bp-field
            label.bp-label(for="describe") detail project requirements, goals, and objectives
            textarea#describe.bp-textarea

        fieldset
          legend.bp-section-title Budget

          .bp-budget-group
            .bp-budget.-from(data-hook="budgetFrom") $10,000
            span &nbsp;&mdash;&nbsp;
            .bp-budget.-to(data-hook="budgetTo") $20,000

          .bp-field
            //-.bp-label what are you looking to spend?
            div(data-hook="budgetRange")

        input(type="submit" value!="Let&rsquo;s do it!")

block scripts
  script(src="js/build.bundle.js")
