extends layouts/www

block vars
  - var namespace = 'index'

block content
  section.HeroSection.-blue
    .ContentWrapper(data-hook="getHeroContent")
      h1.headline.-big.centered We are passionate designers &amp; builders
      .btn-wrapper
        a.btn.-main(href="/build") let&rsquo;s work together

  section
    .ContentWrapper
      .BulletPoints(data-hook="getBulletPoints")

        ul.bp_bullets

          li.bp_bullet
            h2.labelheading.-with-dash.centered What we do
            h3.subheading.centered Design and build for the web
            .bp-icon
              <svg width="143" height="193" viewBox="0 0 143 193" xmlns="http://www.w3.org/2000/svg"><g id="Files" fill="none" fill-rule="evenodd"><g id="WebFile" fill="#D3D3D3"><path d="M9.493 3H101.5L140 41.5v142.002c0 3.588-2.912 6.498-6.504 6.498H9.504C5.914 190 3 187.09 3 183.503V9.497C3 5.912 5.913 3 9.493 3zm.01 190h123.993c5.25 0 9.504-4.252 9.504-9.498V40.88l-.44-.44-40-40-.44-.44H9.494C4.257 0 0 4.255 0 9.497v174.006C0 188.746 4.257 193 9.504 193zm42.8-104.415L29.13 97.337l23.173 8.67v5.005L23.487 99.58v-4.54l28.816-11.433v4.978zm26.636-14.55h5.18l-21.43 46.03h-5.207l21.456-46.03zm11.776 14.55v-4.978l28.816 11.433v4.54l-28.816 11.432v-5.005l23.173-8.67-23.174-8.752zM135 40h-25.502c-3.586 0-6.498-2.91-6.498-6.498V8l-3-3v28.502c0 5.244 4.255 9.498 9.498 9.498H138l-3-3z" id="Shape"/></g></g></svg>

            p.centered Unfortunately, antiquated processes, bloated organizations, and ineffective communication have permeated the industry. We believe _the process_ can be a whole lot better, and we want to do something about it.

          li.bp_bullet
            h2.labelheading.-with-dash.centered Who we are
            h3.subheading.centered A lean development shop
            .bp-icon
              <svg width="180" height="180" viewBox="0 0 180 180" xmlns="http://www.w3.org/2000/svg"><g id="Files" fill="none" fill-rule="evenodd"><g id="Cog" fill="#D3D3D3"><path d="M56.246 147.305c.297 0 .584.075.83.218 5.104 2.944 10.434 5.198 15.833 6.693.554.158 1.003.626 1.16 1.23l5.643 22.572.327 1.308h1.348l17.438-.013h1.347l.326-1.308 5.633-22.6c.145-.574.585-1.03 1.157-1.192 5.462-1.53 10.78-3.783 15.817-6.7.523-.307 1.15-.3 1.68.014l20.136 12.096 1.156.694.953-.955 12.344-12.37.95-.952-.693-1.155-12.1-20.116c-.312-.517-.317-1.164-.013-1.703 2.853-4.944 5.05-10.226 6.54-15.735.158-.58.613-1.028 1.196-1.172l22.775-5.71 1.307-.33V80.004l-1.307-.327-22.77-5.697c-.583-.146-1.043-.596-1.2-1.175-1.48-5.47-3.683-10.775-6.545-15.757-.293-.514-.286-1.164.024-1.686l12.07-20.124.693-1.155-.953-.952-12.33-12.33-.954-.953-1.155.693-20.14 12.086c-.522.32-1.14.326-1.666.017-5.074-2.917-10.39-5.167-15.833-6.695-.57-.156-1.003-.605-1.15-1.19l-5.646-22.613-.327-1.307H80.015l-.327 1.307-5.685 22.745c-.145.58-.598 1.043-1.173 1.2-5.48 1.482-10.788 3.688-15.783 6.557-.528.314-1.143.307-1.667-.013l-20.13-12.08-1.155-.695-.953.953-12.33 12.344-.954.953.694 1.154 12.074 20.104c.313.516.316 1.157.01 1.69-2.933 5.103-5.19 10.432-6.702 15.85-.162.575-.614 1.012-1.202 1.16L2.145 79.7l-1.308.327V100.16l1.306.327 22.745 5.697c.584.145 1.043.595 1.2 1.174 1.497 5.518 3.703 10.82 6.574 15.776.3.52.294 1.162-.02 1.68L20.566 144.91l-.694 1.156.953.953 12.344 12.356.953.954 1.157-.695 20.116-12.086c.268-.163.562-.245.853-.245zm0-3.45c-.92 0-1.832.253-2.634.738L33.5 156.677l2.11.26-12.345-12.357.258 2.108 12.073-20.09c.964-1.588.985-3.576.054-5.19-2.723-4.7-4.813-9.724-6.23-14.954-.486-1.786-1.9-3.172-3.696-3.618L2.982 97.14l1.306 1.673V81.375L2.98 83.05l22.588-5.635c1.787-.447 3.19-1.802 3.69-3.577 1.433-5.14 3.578-10.203 6.368-15.06.93-1.614.92-3.6-.046-5.194L23.51 33.488l-.258 2.108 12.33-12.345-2.107.26L53.59 35.586c1.6.98 3.588 1 5.2.04 4.715-2.708 9.747-4.8 14.942-6.205 1.784-.484 3.172-1.903 3.62-3.693l5.684-22.745-1.674 1.307H98.8l-1.675-1.31 5.647 22.614c.447 1.788 1.806 3.195 3.576 3.68 5.156 1.447 10.208 3.585 15.022 6.353 1.612.946 3.597.928 5.19-.05l20.127-12.078-2.108-.26 12.33 12.33-.26-2.107-12.073 20.13c-.95 1.593-.97 3.572-.056 5.17 2.717 4.73 4.806 9.76 6.21 14.945.484 1.787 1.9 3.173 3.695 3.62l22.768 5.696-1.307-1.674v17.425l1.306-1.674-22.77 5.71c-1.796.445-3.207 1.83-3.692 3.62-1.414 5.22-3.495 10.227-6.206 14.926-.92 1.63-.905 3.612.058 5.197l12.095 20.11.257-2.108-12.344 12.37 2.11-.26-20.142-12.1c-1.608-.957-3.583-.978-5.19-.033-4.78 2.767-9.828 4.907-15.016 6.36-1.766.503-3.12 1.902-3.566 3.672L97.15 177.17l1.673-1.308-17.437.012 1.675 1.307-5.646-22.587c-.467-1.792-1.817-3.2-3.572-3.7-5.126-1.42-10.187-3.56-15.036-6.356-.774-.45-1.662-.683-2.56-.683zm33.393-28.106c-14.395 0-26.11-11.704-26.11-26.11 0-14.407 11.715-26.11 26.11-26.11 14.38 0 26.083 11.703 26.083 26.11 0 14.406-11.703 26.11-26.084 26.11zm0-49.336c-12.808 0-23.218 10.425-23.218 23.22 0 12.794 10.41 23.218 23.22 23.218 12.78 0 23.188-10.424 23.188-23.22 0-12.793-10.41-23.218-23.19-23.218z" id="Shape"/></g></g></svg>
            p.centered Unfortunately, antiquated processes, bloated organizations, and ineffective communication have permeated the industry. We believe _the process_ can be a whole lot better, and we want to do something about it.

          li.bp_bullet
            h2.labelheading.-with-dash.centered Why you should care
            h3.subheading.centered Quality results &mdash; fraction of the price
            .bp-icon
              <svg width="186" height="186" viewBox="0 0 186 186" xmlns="http://www.w3.org/2000/svg"><g id="Files" fill="none" fill-rule="evenodd"><g id="Money" fill="#D3D3D3"><path d="M93.455.968C42.45.968.967 42.46.967 93.468c0 51.004 41.488 92.5 92.488 92.5 51.018 0 92.524-41.497 92.524-92.5 0-51.004-41.507-92.5-92.525-92.5zm0 3.365c49.16 0 89.16 39.99 89.16 89.135s-40 89.135-89.16 89.135c-49.14 0-89.123-39.99-89.123-89.135 0-49.148 39.978-89.135 89.123-89.135zm21.81 70.268c1.8 0 3.264-1.464 3.264-3.263 0-13.877-11.31-25.173-25.197-25.173-13.89 0-25.173 11.296-25.173 25.173 0 12.762 9.582 23.234 21.92 24.857v37.226c-8.71-1.55-15.354-9.134-15.354-18.28 0-1.8-1.454-3.264-3.253-3.264-1.8 0-3.265 1.465-3.265 3.264 0 13.853 11.284 25.125 25.125 25.125 13.864 0 25.136-11.272 25.136-25.125 0-12.743-9.57-23.186-21.873-24.81V53.01c8.746 1.55 15.415 9.146 15.415 18.33 0 1.798 1.466 3.263 3.253 3.263zm-40.588-3.263c0-9.183 6.675-16.778 15.403-18.322v36.662c-8.728-1.557-15.403-9.158-15.403-18.34zm37.287 43.803c0 9.146-6.65 16.73-15.367 18.28V96.855c8.722 1.55 15.367 9.145 15.367 18.285z" id="Shape"/></g></g></svg>
            p.centered We operate as lean as possible and focus intently on proper execution. This translates to savings upwards of 40% compared to the typical digital agency.

            p.centered Read more about [our process](/process)

block scripts
  script(src="js/index.bundle.js" async)
