extends layouts/www

block content
  section.HeroSection.-contains-bg.-bruce-lee
    .ContentWrapper
      blockquote.headline.-big.-quote All fixed set patterns are incapable of adaptability or pliability. The truth is outside of all fixed patterns.

    img.hero-bg(src="images/bruce.png")

  section
    .ContentWrapper
      p
        span.standout Process is a difficult thing to get right
        |, especially when it comes to software. The solution, in our opinion, is to keep as much of our process light and flexible. As each project has its own individual needs and requirements, remaining adaptable has been the single most important practice we&rsquo;ve incorporated into our process.

      p Instead of establishing one set structure, &ldquo;one true way&rdquo; we prefer working with the needs and wants of a particular project. We&rsquo;ve found this approach to yeild the best results.

      p This does not mean, however, that we don&rsquo;t hold certain beliefs:

      .BulletPoints
        ul.bullets
          li.bullet
            h1.headline &numero;1
            h1.headline.-big Paper &amp; pencil are wonderous tools&hellip;

            p As much as we&rsquo;d love to automate and digitize certain processes, there doesn&rsquo;t seem to be a digitial equivalent to putting pencil to paper. This is typically the first step we take in any project. Whether mocking up layout, or dabblig with branding concepts, odds are it starts with a physical paper prototype.

          li.bullet
            h1.headline &numero;2
            h1.headline.-big &hellip;but bothing beats the real thing!

            p Despite our love for paper and pencil and the benefits it brings to protoyping, it also has one major disadvantage. [Talk about getting to web as soon as possible, and to get the client testing natively asap]

          li.bullet
            h1.headline &numero;3
            h1.headline.-big return $CODE; not Photoshop comps

            p There's only so much a rasterized composition can tell you. Typically, it provides an unrealistic depiction of an interface with fake data. Highly innefective given the dynamism of the web. Long gone are the days of web designers who live striclty in Photoshop.

          li.bullet
            h1.headline &numero;4
            h1.headline.-big Performance is not a feature, it&rsquo;s a requirement

            p [talk about the importance of performance with the proliferation of mobile devices and sucky designers]

block scripts
  script(src="js/process.bundle.js")
