extends layouts/www

block content
  section.HeroSection.-contains-bg.-bruce-lee
    .ContentWrapper
      blockquote All fixed set patterns are incapable of adaptability or pliability. The truth is outside of all fixed patterns.

    img.hero-bg(src="images/bruce.jpg")

block scripts
  script(src="js/process.bundle.js")
