serif()
  // font-weights: 400/700/400italic
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif

playfair()
  // font-weights: 400/700
  font-family: 'Playfair Display', Georgia, Times, 'Times New Roman', serif

sans-serif()
  // font-weights: 400/600/700
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, pragmatica-web, Arial, sans-serif

font-smoothing()
  -webkit-font-smoothing: antialiased

legibility()
  text-rendering: optimizeLegibility
