extends layout

block content
  p not another agency's list of blog posts!

  h2 featured blog posts

  ul
    li
      a blog post 1
    li
      a blog post 2
    li
      a blog post 3

  a read all ->
