header.GlobalHeader(class={ '-light-layout': layout === 'light' })
  .wrapper
    .left
      a(href="/")
        .logo
          include _logo
      //-button.menu(role="button" data-hook="toggleNav")
        //-span.label(data-hook="menuLabel") Menu
        //-span.bar

    .right
      nav(role="nav").GlobalNavigation
        ul.gn-links
          each nav in www.navItems
            li
              a.gn-link._u-link-underline(href=nav.href)= nav.link

