/*
* What's considered critical?
*
* Critical css is inlined in the <head>
* of the document providing critical styles
* needed to prevent FOUC on page load
*
* This stylesheet is to contain the critical
* styles that the page must first load with.
* Generally this involves layout related styles,
* global sweeping styles, direct element selectors,
* and styles applied to "above the fold" content
*/

@import '../reset/normalize.css'
@import '../layout'
@import '../critical_typography'
@import '../header'
@import '../navigation'

// Hero
@import '../hero'
.HeroSection.-blue
  height: 36.5rem
  background: #3e9dff
  background: linear-gradient(-20deg, #4F00BC, #29ABE2 80%)

@import '../mixins/typography'
.btn-wrapper
  width: 100%
  text-align: center

.btn
  sans-serif()
  display: inline-block
  padding: 1rem 1.5rem
  text-align: center
  text-transform: uppercase
  font-size: 0.75rem
  font-weight: 600
  letter-spacing: 2px
  text-decoration: none

.btn.-main
  border-radius: 0.5rem
  color: #fff
  transform: scale(1)
  transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96)
  border: 2px solid #fff

  &:hover
    transform: scale(1.05)
