@import 'mixins/typography'

.btn-wrapper
  width: 100%
  text-align: center

.btn.-main
  sans-serif()
  display: inline-block
  padding: 0.75rem 4%
  text-align: center
  color: white
  text-transform: uppercase
  font-size: 0.75rem
  font-weight: 500
  letter-spacing: 2px
  border-radius: 2rem
  background: #fff
  background: rgba(255, 255, 255, 0.57)
  color: #3c54f8
  text-decoration: none
  transform: scale(1)
  transition: all 0.2s ease-in-out

  &:hover
    background: #fff
    transform: scale(1.05)
