@import 'typography'

.GlobalFooter
  background: #4d4d4d
  color: #fff

.gf-wrapper
  padding: 2rem 3%

.gf-logo
  text-align: center

.gf-logo > a
  display: inline-block

.gf-logo svg
  width: 7rem
  margin: 0 auto 1rem
  display: block

.gf-links
  margin: 0
  padding: 0
  text-align: center

.gf-links > li
  list-style: none
  display: inline-block

.gf-link
  margin: 0 1rem
  padding-bottom: 0.25rem
  font-size: 0.75rem
  text-transform: uppercase
  text-decoration: none
  color: #fff
  letter-spacing: .0625rem
  sans-serif()
