.HeroSection
  padding: 10rem 0
  height: 36.5rem
  box-sizing: border-box
  color: #ffffff
  overflow: hidden
  background-color: #DADADA

  & > .ContentWrapper
    transform: translateY(-10%)
    visibility: hidden
    opacity: 0
