.BulletPoints

  .bullets
    margin: 0
    padding: 0

  .bullet
    list-style: none
    margin-bottom: 3rem
    border-bottom: 1px solid #f4f4f4
    padding-bottom: 1.5rem

    &:last-child
      border-bottom: none
      padding-bottom: 0
      margin-bottom: 0
