::selection
  background-color: #E84A68
  color: #ffffff
  text-shadow: none

html, body
  height: 100%

html
  font-size: 125%

.ContentWrapper
  padding: 2rem 0
  width: 94%
  max-width: 33rem
  margin: 0 auto

.ContentWrapper > h1, .ContentWrapper > h2, .ContentWrapper > h3
  margin-top: 0
