@import 'mixins/links'

.GlobalNavigation

.gn-links
  margin: 0
  padding: 0

.gn-links > li
  list-style: none
  float: left

.gn-link
  underline-link()

  & .link:first-child > a
    margin-left: 0

.GlobalHeader.-light-layout
  g#BisonLogo
    fill: #646464

  .gn-link
    color: #646464

    &:after
      background: #646464

