.TeamMembers

  .list
    margin: 0
    padding: 0

  .member
    list-style: none
    border-bottom: 1px solid #e7e7e7

  .profile-pic
    max-width: 350px
    margin: 0 auto
    display: block
    border-radius: 50%

  .name
    text-align: center

