@import 'mixins/typography'

.TeamMembers
  padding-top: 6rem

  .list
    margin: 0
    padding: 0

  .member
    list-style: none
    border-bottom: 1px solid #e7e7e7
    padding: 2rem 0

    &:last-child
      border-bottom: none

  .profile-pic
    max-width: 350px
    margin: 0 auto 1rem
    display: block
    border-radius: 50%

  .location
    margin-bottom: 0.5rem

  .name
    sans-serif()
    letter-spacing: -1px
    position: relative
    margin-bottom: 3rem

    &:after
      content: '\02015'
      position: absolute
      left: 0
      bottom: -2rem
      font-size: 1rem
