doctype html
html(lang="en")

  head
    include ../../__shared__/views/partials/_head

    body
      h1 this is the blog layout

      include ../../__shared__/views/partials/_header

      include ../../__shared__/views/partials/_navigation

      block content

      include ../../__shared__/views/partials/_footer

      script(src="js/bundle.js") 
