@import '../typography'
@import '../modules/BuildProject'
@import '../nouislider.min.css'

.noUi-target
  border: 1px solid #ccc

.noUi-background
  background: #FFF
  box-shadow: none !important

.noUi-handle
  box-shadow: none

.noUi-connect
  background: #A9E86F
  background: linear-gradient(-5deg,#46AF46,#D1FFBE 80%)
  box-shadow: none
  transition: none

@import '../footer'
