@import '../modules/BulletPoints'

.twitter-tweet
  margin-bottom: 1rem !important

.code-headline
  padding: .5rem;
  background: #F1F1F1;
  border-left: .5rem solid #D8D8D8;
  font-weight: 400;

@import '../typography'
@import '../footer'
