footer.GlobalFooter
  .gf-wrapper
    .gf-logo
      include _logoLarge
    ul.gf-links
      each nav in www.navItems
        li
          a.gf-link._u-link-underline(href="http://lostbison.com#{nav.href}")= nav.link
