header.GlobalHeader(data-hook='getHeader', class={ '-light-layout': layout === 'light' })
  .wrapper
    nav(role="nav").GlobalNavigation
      ul.gn-links
        each nav, index in blog.navItems
          if (index === 1)
            li.gn-home-shield
              a.gn-link.-main(href="/")
                include _logo
                h1.gn-name lost bison<br>blog
            li.gn-page
              a.gn-link._u-link-underline(href=nav.href)= nav.link
          else
            li.gn-page
              a.gn-link._u-link-underline(href=nav.href)= nav.link

